@model UserViewModel

<form method="post" asp-action="Create">
  
  <label asp-for="Name"></label>
  <input asp-for="Name">

  <br>

  <label asp-for="Email"></label>
  <input asp-for="Email">
  
  <br>
  
  <label asp-for="Password"></label>
  <input asp-for="Password">

  <br>
  
  <label asp-for="PasswordCompare"></label>
  <input asp-for="PasswordCompare">

  <br>  

  <vc:user-groups asp-for="GroupIds" />
  
  <user-groups asp-for="GroupIds"></user-groups>
  
  <partial name="_Groups" model="@Model.Groups" />

  <br>
  
  <button>Submit</button>
  
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
