@model Microsoft.AspNetCore.Mvc.ViewFeatures.ModelExpression
@{
 // https://stackoverflow.com/questions/42855758/custom-viewcomponent-with-asp-for-as-parameter
}

<label asp-for="Model"></label>

<select asp-for="Model" multiple></select>